
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista1</title>
</head>
<body>
    <div>
        <h1>ACTIVIDAD 1</h1>

        @Html.ActionLink("Vista No.1", "Index")
        @Html.ActionLink("Vista No.2", "IrAVista2")
        @Html.ActionLink("Vista No.3", "IrAVista3")

        <h2> Esta es la vista numero 1</h2>

    </div>
</body>
</html>
